
<div class="row" *ngIf="(authService.isAuthed)" >
  <div class="col-md-12 col-lg-12">
    <h3>Afventer:</h3>
    <table class="table">
        <thead>
          <tr>
            <th>Navn</th>
            <th>UserId</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let accessRequest of accessRequests | async">
              <td>{{accessRequest.displayName}}</td>
              <td>{{accessRequest.userId}}</td>
              <td>
                <button class="btn btn-success" (click)="approveRequest(accessRequest)"> <span aria-hidden="true"> &#10003;</span> Godkend</button>
                <button class="btn btn-danger" (click)="deleteRequest(accessRequest)"> <span aria-hidden="true">&times;</span> Slet request</button>
              </td>
            
          </tr>
        </tbody>
      </table>
  </div>
</div>

<div class="row" *ngIf="(authService.isAuthed)">
  <div class="col-md-12 col-lg-12">
      <h3>Godkendte:</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Navn</th>
            <th>UserId</th>
            <th>Godkendt</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let accessConfirmation of accessConfirmations | async">
              <td>{{accessConfirmation.displayName}}</td>
              <td>{{accessConfirmation.userId}}</td>
              <td >
                <button class="btn btn-danger" (click)="removeAccess(accessConfirmation)"> <span aria-hidden="true">&times;</span> Slet adgang</button>
              </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
