
<div class="row">
  <div class="col-md-12 col-lg-12">
    <table class="table">
        <thead>
          <tr>
            <th>Navn</th>
            <th>UserId</th>
            <th>Godkendt</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let accessRequest of accessRequests | async">
              <td>{{accessRequest.displayName}}</td>
              <td>{{accessRequest.userId}}</td>
              <td>
                  <span *ngIf="accessRequest.isApproved" aria-hidden="true">&#10003;</span>
                  <span *ngIf="!accessRequest.isApproved" aria-hidden="true">&times;</span>
              </td>
              <td *ngIf="!accessRequest.isApproved" >
                <button *ngIf="(authService.isAuthed)" class="btn btn-success" (click)="approve(accessRequest)"> <span aria-hidden="true"> &#10003;</span> Godkend</button>
                <button *ngIf="(authService.isAuthed)" class="btn btn-danger" (click)="delete(accessRequest)"> <span aria-hidden="true">&times;</span> Slet request</button>
              </td>
              <td *ngIf="accessRequest.isApproved">
                <button *ngIf="(authService.isAuthed)" class="btn btn-danger" (click)="delete(accessRequest)"> <span aria-hidden="true">&times;</span> Slet adgang</button>
              </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
