<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" routerLink="/users" routerLinkActive="active">Medlemmer</a>
        <a class="navbar-brand" routerLink="/guardDuty" routerLinkActive="active">Vagtplan</a>
        <a class="navbar-brand" routerLink="/schedulesetup" routerLinkActive="active">Opsætning</a>
    </div>
  </div>
</nav>
<br/>
<br/>
<div class="container starter-template">
  <br/>
  <router-outlet></router-outlet>
</div>

